
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^json/(\w+)$ json_server.php?id=$1 [L]
RewriteRule ^xml/(\w+)$ xml_server.php?id=$1 [L]